body{
background:#0f172a;
color:white;
font-family:Arial, sans-serif;
text-align:center;
padding:40px;
}

.container{
background:#1e293b;
padding:30px;
border-radius:10px;
width:90%;
max-width:500px;
margin:auto;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

h2{
margin-bottom:20px;
}

input{
padding:10px;
background:#334155;
border:none;
border-radius:5px;
color:white;
}

button{
background:#22c55e;
border:none;
padding:12px 20px;
margin-top:15px;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}

#result{
margin-top:20px;
background:#020617;
padding:20px;
border-radius:8px;
}